<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"  />
    <title>Title</title>
</head>
<script type="text/javascript">


</script>
<body>
呵呵哒！！！值：${test}昵称：${user.nickname}
${user}
<!--/*@thymesVar id="hello" type="java.lang.String"*/-->
<p th:text="${hello}"></p>

<!--/*@thymesVar id="poemList" type="net.sf.json.JSONObject"*/-->
<p th:text="${poemList}"></p>


</body>
</html>